<!DOCTYPE html>
<html lang="" ng-app='app'>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>作业详情</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link href="//cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/__SWorkDetail.css">
	<style>
		iframe html footer {
			display: none !important;
		}

		div#row div {
			float: left;
			text-align: center;
			border-radius: 4px;
		}

		div#row div a {
			color: #fff;
			text-decoration: none;
		}

		div#row div.active {
			color: #fff;
			background-color: #428bca;
			border-radius: 4px;
		}
	</style>
</head>

<body ng-controller='swiperControlle'>
	<div id='bg' style="position:fixed;height:100%;width:100%;z-index:-1;background: url('images/blli.png') no-repeat;background-size: 100%;"></div>
	<div style="position:fixed;width:100%;z-index:2;">
		<nav class="nav navbar" style="background-color:#bde5ef;width:100%;left:0;margin-bottom:0;min-height:35px;">
			<span id="pull" style="color:white;margin-left:10px;" class="glyphicon glyphicon-align-justify"></span>
			<h4 style="color: white;display:inline-block;">作业详情</h4>
		</nav>

		<div id='row' class="row" style="width:100%;background-color:#bde5ef;margin-left:0;">
			<div ng-click='change(0)' id='wd' role="presentation" style="width:30%;padding:10px 15px;margin-left:3%" class="active">
				<a role="tab" data-toggle="tab">作业详情</a>
			</div>
			<div ng-click='change(1)' id='we' role="presentation" style="width:30%;padding:10px 15px;">
				<a role="tab" data-toggle="tab">编辑作业</a>
			</div>
			<div ng-click='change(2)' id='wc' role="presentation" style="width:34%;padding:10px 15px;">
				<a role="tab" data-toggle="tab">作业讨论区</a>
			</div>
		</div>
	</div>
	<div class="container" style="position:relative;top:90px;">
		<div class="swiper-container" style="top:15px;height:100%;">
			<div class="swiper-wrapper">
				<div class="swiper-slide" style="">
					<div class="panel panel-default1" id="mypanel">
						<div class="panel-body">
							<p ng-bind='workinfo.content'></p>
						</div>
						<ul class="list-group">
							<li class="list-group-item">课程章节：<span><span ng-bind='workinfo.cname'></span>第<span ng-bind='workinfo.section'></span>章</span>
							</li>
							<li class="list-group-item">发布人&nbsp;&nbsp;&nbsp;：<span ng-bind='workinfo.xname'></span></li>
							<li class="list-group-item">发布时间：<span ng-bind='workinfo.creatdate'></span></li>
							<li class="list-group-item">截止提交：<span ng-bind='workinfo.enddate'></span></li>
							<li class="list-group-item" id="annex">附件：
								<span style="color:black;" ng-click="view('tmodal')"><span class="glyphicon glyphicon-file"></span><span ng-bind='workinfo.filename'></span></span>
								<span id='load' style="margin-left:20px;"><a href="{{workinfo.annex}}" style="color:black;">下载</a></span>

							</li>
							<li class="list-group-item">提交状态：<span id="up">未提交</span></li>
							<li class="list-group-item">批改状态：<span id="check">未批改</span></li>
							<li class="list-group-item">成绩&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：&nbsp;<span ng-bind='sworkinfo.score'></span></li>
							<li class="list-group-item">教师留言：<span ng-bind='sworkinfo.tadvice'>无</span></li>
						</ul>
					</div>
				</div>

				<div class="swiper-slide" style="">
					<form role="form" style='padding-bottom:50px;background:white;border-radius:7px;'>
						<div class="form-group col-xs-12" style="margin-top:25px;">
							<lable>请填写你的答案：</lable>
							<textarea id='answer' style='margin-top:15px;height:300px;resize:none' class="form-control" ng-bind='sworkinfo.answer' maxlength="1000" placeholder="作业答案...">

							</textarea>
						</div>
						<div class="form-group">
							<label for="shangchuan" class="title" style="margin-left:15px;">附件:</label>&nbsp;
							<span id='wenjian' ng-show="flag" ng-click="view('smodal')" ng-bind='sworkinfo.filename'></span>
							<span id='old' style="display:none;"></span>
							<div id='shangchuan' class="btn btn-primary pull-right btn-xs" ng-click='shangchuan()' style="margin-right:15px;">上传文件</div>
							<div ng-show='flag1' id="jindu" style="width:200px;margin:12px;background:#d9d9d9;border-radius: 8px;">
								<div id='wancheng' style="background:green;width:0;border-radius: 8px;margin-left:0px;">0%</div>
							</div>
						</div>
						<div ng-click="update()" id="up" class="btn btn-primary pull-right" style="margin-bottom:15px;margin-right:5px;">
							<span>提交</span>
						</div>
						<button type="reset" ng-click="reset()" class="btn btn-danger pull-right" style="margin-right:50px">重置</button>
					</form>

				</div>
				<div class="swiper-slide" style="">
					<img src="images/noInfo.gif" id="none" style="width:100%;margin:0 auto;display:none;" />
					<div id="wrapper" style='margin-bottom:50px;'>
						<ul style="list-style:none;padding-left:0;">
							<li ng-repeat="(key,val) in obj" ng-click="back()" style="color:white;margin-bottom:10px;{{val.bg}};min-height:65px;word-break:break-all">
								<p class="story_t" style="color:white;font-size:12px;">
									<span ng-bind='val.nick'></span>：

									<span style="float:right" class="{{val.chatid}}"><span ng-bind='val.timbs'></span></span>
									<span class="glyphicon glyphicon-thumbs-up {{val.chatid}}" style="float:right;" ng-click="timbs()"></span>
								</p>



								<p class="story_m" style="color:white;text-indent:15px;font-size:15px;"><span ng-bind='val.content'></span></p>
								<p class="text-right" style="font-size:12px;"><span class="story_time" ng-bind='val.creatdate | date:"yyyy-MM-dd HH:mm:ss"'></span></p>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id='addChat' class="row" style="position:fixed;left:0;right:0;bottom:0;height:35px;background:#104766;z-index:20;display:none;">
		&nbsp; <span id="icon" class="glyphicon glyphicon-pencil col-xs-1" style="color:#e5e5e5;margin-left:10px;margin-top:10px;"></span>
		<input class="col-xs-8" type="text" placeholder='我想说...' id="chat" style='padding-left:5px;outline:none;padding:0;color:white;background-color:rgba(255,255,255,0);border-left:0px;border-top:0px;border-right:0px;border-bottom:1px solid white;margin-top:10px;'>
		<span class="btn btn-default col-xs-2" style="margin-top:10px;color:white;background-color:rgba(255,255,255,0.2);padding:0;margin-left:5px;" ng-click="fabu()">发布</span>
	</div>


	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="height:100%;">
			<div class="modal-content" style="height:90%;">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="margin-right:20px;">&times;</span><span class="sr-only">Close</span></button>

				<iframe id="view" style="border:none;" width="100%" height="90%" src="" class="modal-body"></iframe>
			</div>
		</div>
	</div>




	<!-- Modal -->
	<div class="modal fade" id="tmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="height:100%;">
			<div class="modal-content" style="height:90%;">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="margin-right:20px;">&times;</span><span class="sr-only">Close</span></button>

				<iframe id="view1" style="border:none;" width="100%" height="90%" src="" class="modal-body"></iframe>
			</div>
		</div>
	</div>

	<div class="modal fade" id="smodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="height:100%;">
			<div class="modal-content" style="height:90%;">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" style="margin-right:20px;">&times;</span><span class="sr-only">Close</span></button>

				<iframe id="view2" style="border:none;" width="100%" height="90%" src="" class="modal-body"></iframe>
			</div>
		</div>
	</div>

	<div style="position:fixed;z-index:150" ng-include="$root.navurl"></div>
	<div style="width:100%;" ng-include='$root.alerturl'></div>

	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.5.8/angular.min.js"></script>
	<script src="//cdn.bootcss.com/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
	<script src="//cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
	<script src="js/dropload.js"></script>
	<script src="js/common.js"></script>
	<script src="js/check.js"></script>
	<script src="js/__SWorkDetail.js"></script>
</body>

</html>
