<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller='rolecontroller'>

<head>
	<meta charset="UTF-8">
	<title>作业库</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<style>
		* {
			font-family: '宋体';
			font-size: 12px;
		}

		table {
			table-layout: fixed;
		}

		td {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: clip;
		}

		._nav {
			min-height: 40px;
			!important;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.1);
			line-height: 40px;
			color: white;
			font-size: 20px;
			font-weight: bold;
			/*text-align: center;*/
			display: inline-block;
			margin: 0;
		}

		a {
			color: white;
		}
	</style>
</head>

<body style="background: url('images/blli.png') no-repeat;background-size:cover;">
<!--	<div id='bg' style="position:fixed;height:100%;width:100%;z-index:-1;background: url('images/blli1.jpg') no-repeat;background-size: 100%;"></div>-->
	<nav style="background-color: rgba(255,255,255,0.2);height: 40px;position:absolute;width:100%">
		<!--顶部按钮-->
		<span class="btn glyphicon glyphicon-align-justify" style="color: white;top:-4px;" id='pull'></span>
		<div style="color:white;margin: 0 auto;width: 100px;display: inline-block;line-height: 40px">
			<h4>作业库</h4></div>
	</nav>
	<div ng-controller='hwrescontroller' class="panel panel-info" style="clear: both;width: 94%;margin: 0 auto;position:absolute;top:80px;left:3%;background:none;border:none;">
		<!-- Default panel contents -->
		<!--<div class="panel-heading">最新发布</div>-->
		<!-- Table -->
		<!--顶部分页和按钮-->
		<!--		<div style="float:right">-->

		<div style='margin-left:30%'>
			<pagination ng-model="currentPage" total-items="length" max-size="maxSize" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo" boundary-links="true" style="magin-top:50px;">
			</pagination>
		</div>


		<div class="form-group" style="margin-bottom:0">
			<input type="text" class="form-control" ng-model="query" placeholder="Enter query">
		</div>
		<!--		</div>-->
		<table class="table text-center" style="overflow: hidden;color:white;">
			<col style="width: 25%" />
			<col style="width: 25%" />
			<col style="width: 20%" />
			<col style="width: 30%" />
			<thead>
				<tr>
					<td><b>作业标题</b></td>
					<td><b>课程</b></td>
					<td><b>发布者</b></td>
					<td><b>发布时间</b></td>
				</tr>
			</thead>
			<tbody>
				<tr style="" ng-repeat='(key,val) in filteredList |filter:query'>
					<td style="width:30%;height:37px;">
						<a href="CWorkResDetail.html?wid={{val.wid}}" style="color:white;">
							{{val.title}}
						</a>
					</td>
					<td style="width:20%;height:37px;">
						{{val.cname}}
					</td>
					<td style="width:20%;height:37px;">
						{{val.uname}}
					</td>
					<td style="width:20%;height:37px;">
						{{val.creatdate}}
					</td>
				</tr>
			</tbody>
		</table>
		<!--
		<ul class="list-group worklist" style="list-style: none;">
	<div class="row">
		<div class="col-xs-4">作业标题</div>
		<div class="col-xs-4">课程</div>
		<div class="col-xs-4">截止日期</div>
	</div>
	<a ng-repeat='(key,val) in dat |filter:query' href="./SWorkDetail.html?wid={{val.wid}}">
		<div class="row">
			<div class="col-xs-4" style="overflow:hidden;">{{val.title}}</div>
			<div class="col-xs-4" style="overflow:hidden;">{{val.name}}</div>
			<div class="col-xs-4">{{val.enddate}}</div>
		</div>
	</a>
</ul>
-->

	</div>
	<div style="position:fixed;z-index:150" ng-include="$root.navurl"></div>
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/angular.js/1.3.20/angular.min.js"></script>
	<script src="//cdn.bootcss.com/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
	<!--	载入是否登录验证-->
	<script src="js/check.js"></script>
	<script src="js/CWorkRes.js"></script>
</body>

</html>
