<article ng-controller='sdatacontroller' style="margin-top:100px;">

	<form role="form" style='padding-bottom:50px;background:white;border-radius:7px;'>
		<div class="form-group col-xs-12" style="margin-top:25px;">
			<lable>请填写你的答案：</lable>
			<textarea id='answer' style='margin-top:15px;height:300px;resize:none;' class="form-control" ng-bind='sworkinfo.answer' maxlength="1000" rows="3" placeholder="作业答案...">

			</textarea>
		</div>
		<div class="form-group">
			<label for="shangchuan" class="title" style="margin-left:15px;">附件:</label>&nbsp;
			<a id='wenjian' href='{{sworkinfo.annex}}'>{{sworkinfo.filename}}</a>
			<div id='shangchuan' class="btn btn-primary pull-right btn-xs" ng-click='shangchuan()' style="margin-right:15px;">更新文件</div>
		</div>
		<div id="up" class="btn btn-primary pull-right" style="margin-bottom:15px;margin-right:5px;">
			<span ng-click="update()">提交</span>
		</div>
		<button type="reset" class="btn btn-danger pull-right" style="margin-right:50px">重置</button>
	</form>
	<div style="width:100%;" ng-include='$root.alerturl'></div>
</article>
<script src="js/SWorkEdit.js"></script>
